/*--imports roboto font from google fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*--sets root variable for commonly used colors and fonts to be accessed accross the css page--*/
:root {
    --grey: rgb(212, 210, 210);
    --font: 'Roboto', sans-serif;
}

/*--sets general styling for the entire page--*/
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(../images/background.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex-direction: row;
}

/*--styling the main area to cover the webpage*/
main {
    height: 100vh;
    width: 100vw;
}

/*--styling instructions elements--*/
#instructions {
    padding-left: 10%;
    max-width: 45%;
    position: absolute;
    top: 0;
}

#instructions-h1 {
    color: var(--grey);
    font-family: var(--font);
}

/*--styling for play and play again buttons--*/
#play-btn,
#play-again {
    height: 70px;
    width: 150px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 2em;
    font-family: var(--font);
    margin-top: 30px;
}

#play-btn:hover,
#play-again:hover {
    background-color: white;
    color: black;
}

#tracker {
    position: absolute;
    top: 0;
    right: 10%;
}

#timer { 
    color: var(--grey);
    font-family: sans-serif;
}

.left-container {
    flex: 50%;
    height: 100vh;
    justify-content: center;
    border-right: 2px solid white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.answer-right:active {
    background-image: linear-gradient(
        rgba(8, 166, 21, 0.603), 
        rgba(8, 166, 21, 0.603)
      );
}

.answer-wrong:active {
    background-image: linear-gradient(
        rgba(255, 2, 2, 0.7), 
        rgba(255, 2, 2, 0.7)
      );
}

.right-container {
    flex: 50%;
    height: 100vh;
    justify-content: center;
    border-left: 2px solid white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section h2 {
    color: var(--grey);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 35px;
    margin-bottom: 0;
}

section h4 {
    color: var(--grey);
    font-family: sans-serif;
    font-weight: lighter;
}

#main1 {
    display: none;
}
#main2 {
    display: none;
    flex-direction: row;
}

#main2 section {
    width: 50%;
    padding-left: 10%;
}

.left-container2 h3, h4 {
    color: var(--grey);
    font-family: var(--font);
}

.highest-score-h3,
.highest-score-h3 span,
.you-scored-h4,
.you-scored-h4 span {
    font-size: 30px;
    margin: 40px 0px 40px 0px;
}

#username {
    height: 25px;
}

#saveScoreBtn {
    height: 29px;
    border: 1px solid white;
}

#saveScoreBtn:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

#play-again {
    font-size: 25px !important;
}

.rendered-scores {
    top: 15%;
    position: relative;
    padding-left: 15%;
}

#render-list {
    padding-left: 0;
}

#render-list-title,
#display-list {
    color: var(--grey);
    font-size: 25px;
    font-family: var(--font);
    width: 100%;
    display: block;
}